{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
    {% if page and page.title != '' %}{{page.title}}{% else %}{{share.name}}{% endif %}
{% endblock %}

{% block keywords %}
    {% if page and page.keywords != '' %}
        <meta name="keywords" content="{{page.keywords}}">
    {% endif %}
{% endblock %}

{% block description %}
    {% if page and page.description != '' %}
        <meta name="description" content="{{page.description}}">
    {% else %}
        <meta name="description" content="{{share.description | striptags | slice(0, 300)}}">
    {% endif %}
{% endblock %}

{% block head %}
    <link href="{{ asset('bundles/renovate/css/uploadify.css') }}" rel="stylesheet">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
    <script src="{{ asset('bundles/renovate/plugins/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block social %}<meta name="og:image" content="{{asset(share.document.path)}}"/>{% endblock %}

{% block content %}

    <div ng-controller="SharesController">

        <div ng-init="getSingleNews('{{ share.id }}')"></div>

        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR')) %}
            <section class="news-desc hidden-xs hidden-sm">
                <aside style="width: 95%; margin-right: 0% !important;">
                    {#<button ng-click="removeArticle(singleArticle)" type="button" class="close">#}
                    {#<span class="glyphicon glyphicon-remove"></span>#}
                    {#</button>#}
                    <button ng-click="editShare(singleShare)" type="button" class="close">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </aside>
            </section>
        {% endif %}

        <section class="news-desc hidden-xs hidden-sm">
            <aside style="width: 100%; margin-right: 0%;">

                <h1 class="textshadowblue" style="margin-top: 20px; line-height: 1.5;">[[ singleShare.name ]]</h1>

                <article style="padding-bottom: 60px; background: none;">

                    <div style="padding-top: 0; position: absolute;">
                        <img width="220px" ng-src="[[ '/' + singleShare.document.url ]]" alt="[[ singleShare.name ]]"/>
                    </div>

                    <div class="summary" ng-bind-html="singleShare.description"></div>

                </article>

            </aside>
        </section>

        <div style="margin-left: 2%;" class="visible-xs visible-sm">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="textshadowblue" style="margin-top: 20px; width: 100%!important;">[[ singleShare.name ]]</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img width="220px" ng-src="[[ '/' + singleShare.document.url ]]" alt="[[ singleShare.name ]]"/>
                </div>
                <div class="col-xs-12" ng-bind-html="singleShare.description"></div>
            </div>
        </div>

        <script type="text/ng-template" id="editShare.html">
            <div class="modal-header">
                <h3 class="modal-title">Редагування акції...</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="shareForm">
                    <div class="form-group" ng-class="{'has-error': shareForm.shareName.$invalid && !shareForm.shareName.$pristine}">
                        <label for="shareName" class="col-sm-2 control-label">Назва</label>
                        <div class="col-sm-10">
                            <input ng-model="share.name" type="text" class="form-control" id="shareName" name="shareName" required>
                            <p ng-show="shareForm.shareName.$invalid && !shareForm.shareName.$pristine" class="help-block">Введіть назву.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': shareForm.shareDocument.$invalid && !shareForm.shareDocument.$pristine}">
                        <label for="shareDocument" class="col-sm-2 control-label">Обкладинка</label>
                        <div class="col-sm-10">
                            <select ng-options="document.id as document.name for document in documents" class="form-control" id="shareDocument" ng-model="share.documentid" name="shareDocument" required>
                            </select>
                            <p ng-show="shareForm.shareDocument.$invalid && !shareForm.shareDocument.$pristine" class="help-block">Оберіть обкладинку.</p>
                            <input type="file" name="file_upload" id="file_upload" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': shareForm.shareLabel.$invalid && !shareForm.shareLabel.$pristine}">
                        <label for="shareLabel" class="col-sm-2 control-label">Ярлик</label>
                        <div class="col-sm-10">
                            <select ng-options="document.id as document.name for document in documents" class="form-control" id="shareLabel" ng-model="share.labelid" name="shareLabel">
                            </select>
                            <p ng-show="shareForm.shareLabel.$invalid && !shareForm.shareLabel.$pristine" class="help-block">Оберіть ярлик.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': shareForm.shareDescription.$invalid && !shareForm.shareDescription.$pristine}">
                        <label for="shareDescription" class="col-sm-2 control-label">Опис</label>
                        <div class="col-sm-10">
                            <textarea ng-model="share.description" id="shareDescription" class="form-control" rows="5" name="shareDescription" required></textarea>
                            <p ng-show="shareForm.shareDescription.$invalid && !shareForm.shareDescription.$pristine" class="help-block">Введіть опис.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="share.onhomepage"> Показувати на головній
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()" ng-disabled="shareForm.$invalid">Зберегти</button>
                <button class="btn btn-warning" ng-click="cancel()">Відміна</button>
            </div>
        </script>

    </div>

    {#<div class="row">#}
        {#<div class="col-md-2" style="margin-top: 5px;">#}
            {#<!-- VK -->#}
            {#<div id="vk_like" class="vk" content-title="{{share.getName()}}"></div>#}
        {#</div>#}
        {#<div class="col-md-2" style="margin-top: 5px;">#}
            {#<!-- FB -->#}
            {#<div class="fb-share-button" data-href="{{ app.request.uri }}" data-layout="button_count"></div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<h2>{{share.name}}</h2>#}
            {#<p>{{share.created|date("d.m.Y H:i")}}</p>#}
            {#<hr>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div class="data-content">#}
                {#<div class="col-md-4">#}
                    {#<img src="{{asset(share.document.path)}}" alt="{{share.name}}" class="img-thumbnail">#}
                {#</div>#}
                {#<div class="text-justify">{{share.description | raw}}</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/renovate/js/jquery.uploadify.min.js') }}"></script>
    <script src="{{ asset('bundles/renovate/js/angularSharesController.js') }}"></script>
    <script>
        var TIMESTAMP = '{{ timestamp }}';
        var TOKEN = '{{ token }}';
    </script>
    <script src="{{ asset('bundles/renovate/js/vkButton.js') }}"></script>
    <script src="{{ asset('bundles/renovate/js/fbButton.js') }}"></script>
{% endblock %}