{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}Імпорт платежів{% endblock %}

{% block head %}
    <link href="{{ asset('bundles/renovate/css/uploadify.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section class="news-desc">
        <aside style="width: 80%; margin-right: 0% !important;">
            <div ng-controller="ImportPaymentsController">
                <div class="row">
                    <div class="col-md-12" style="margin: 60px 0 30px;">
                        <h3><strong>Дозволені формати:</strong> Comma Separated Values (*.csv)</h3>
                        <input type="file" name="file_upload" id="file_upload" />
                        <alert ng-repeat="alert in alerts" type="[[alert.type]]" close="closeAlert($index)">[[alert.msg]]</alert>
                    </div>
                </div>
            </div>
        </aside>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/renovate/js/jquery.uploadify.min.js') }}"></script>
    <script src="{{ asset('bundles/renovate/js/angularPaymentsController.js') }}"></script>
    <script>
        var TIMESTAMP = '{{ timestamp }}';
        var TOKEN = '{{ token }}';
    </script>
{% endblock %}