{% extends "RenovateMainBundle::layout.html.twig" %}

{% block title %}
    {% if page and page.title != '' %}{{page.title}}{% else %}{{vacancy.name}}{% endif %}
{% endblock %}

{% block keywords %}
    {% if page and page.keywords != '' %}
        <meta name="keywords" content="{{page.keywords}}">
    {% endif %}
{% endblock %}

{% block description %}
    {% if page and page.description != '' %}
        <meta name="description" content="{{page.description}}">
    {% else %}
        <meta name="description" content="{{vacancy.description | striptags | slice(0, 300)}}">
    {% endif %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
{% endblock %}

{% block social %}<meta name="og:image" content="{{asset(vacancy.document.path)}}"/>{% endblock %}

{#{% block breadcrumb %}#}
{#<ol class="breadcrumb">#}
 	{#<li><a href="{{path('renovate_main_homepage')}}">Головна</a></li>#}
 	{#<li><a href="{{path('renovate_vacancies')}}">Вакансії</a></li>#}
 	{#<li class="active">{{vacancy.name}}</li>#}
{#</ol>#}
{#{% endblock %}#}

{% block content %}

    <section class="news-desc hidden-xs hidden-sm">
        <aside style="width: 95%; margin-right: 0% !important;">

            <h1 class="textshadowblue" style="margin-top: 20px; line-height: 1.5;">{{ vacancy.name }}</h1>

            <div style="float: left; margin: 0 25px 1px 0;">
                <img width="400px" height="300px" src="{{ vacancy.document.path | replace({'web': ''}) }}" alt="{{vacancy.name}}" style="box-shadow: 0 5px 20px rgba(65,65,88,0.4); border-radius: 10px;">
            </div>

            <div class="summary" style="padding: 0 !important;">
                {{vacancy.description | raw}}
            </div>

        </aside>
    </section>

    <div style="margin-left: 2%;" class="visible-xs visible-sm">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="textshadowblue" style="margin-top: 20px;">{{ vacancy.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <img width="220px" src="{{ vacancy.document.path | replace({'web': ''}) }}" alt="{{vacancy.name}}"/>
            </div>
            <div class="col-xs-12">{{vacancy.description | raw}}</div>
        </div>
    </div>

    {#<div class="row">#}
        {#<div class="col-md-2" style="margin-top: 5px;">#}
            {#<!-- VK -->#}
            {#<div id="vk_like" class="vk" content-title="{{vacancy.getName()}}"></div>#}
        {#</div>#}
        {#<div class="col-md-2" style="margin-top: 5px;">#}
            {#<!-- FB -->#}
            {#<div class="fb-share-button" data-href="{{ app.request.uri }}" data-layout="button_count"></div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<h2>{{vacancy.name}}</h2>#}
            {#<p>{{vacancy.created|date("d.m.Y H:i")}}</p>#}
            {#<hr>#}
        {#</div>#}
    {#</div>#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<div class="data-content">#}
                {#<div class="col-md-4">#}
                    {#<img src="{{asset(vacancy.document.path)}}" alt="{{vacancy.name}}" class="img-thumbnail">#}
                {#</div>#}
                {#<div class="text-justify">{{vacancy.description | raw}}</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/renovate/js/vkButton.js') }}"></script>
    <script src="{{ asset('bundles/renovate/js/fbButton.js') }}"></script>
{% endblock %}